/* Google-fonts: Wroksans  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px 24px;
}

.hide {
    display: none;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
}

.nav-title {
    font-weight: 700;
    font-size: 2em;
}

.nav-details ul {
    color: #424242;
    display: flex;
    gap: 20px;
}

.nav-details ul li {
    list-style: none;
}

.nav-details ul li>a {
    text-decoration: none;
    font-size: 18px;
}

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 5em 2em;
}

.banner-info {
    text-align: center;
    /* margin: 0 10em 2em 10em; */
    padding: 0 10em 2em 10em;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
}

.banner-details {
    font-size: 16px;
    color: #727272;
    margin: 10px 0;
}

.banner-img img {
    max-width: 100%;
}

/* ------------Main----------- */
/* Features Section */
.teams img {
    max-width: 100%;
}

.features-quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    margin: 130px 0;
    padding: 2em;
}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    width: 25em;
}

.quick-list-info {
    width: 25em;
    margin: 20px 0;
}
.quick-list-title{
    font-size: 45px;
}
.quick-list-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 10px 0;
}


/*------------- Responsive Section Media Query-------*/
@media only screen and (max-width: 576px) {

    /* body {
        border: 1px solid red;
        width: 500px;
    } */

    /* .navigation {
        max-width: 100%;
    } */

    nav,
    .banner,.features-quick-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 2em;

    }

    .nav-details ul {
        flex-direction: column;
    }

    .banner-img,.teams {
        margin: 0 8em;
    }
}