/* Google-fonts: Wroksans  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px 24px;
}

.hide {
    display: none;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
}

.nav-title {
    font-weight: 700;
    font-size: 2em;
}

.nav-details ul {
    color: #424242;
    display: flex;
    gap: 20px;
}

.nav-details ul li {
    list-style: none;
}

.nav-details ul li>a {
    text-decoration: none;
    font-size: 18px;
}

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 5em 2em;
}

.banner-info {
    text-align: center;
    /* margin: 0 10em 2em 10em; */
    padding: 0 10em 2em 10em;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
}

.banner-details {
    font-size: 16px;
    color: #727272;
    margin: 10px 0;
}

.banner-img img {
    max-width: 100%;
}
/* ------------Main----------- */
/* Features Section */





/*------------- Responsive Section Media Query-------*/
@media screen and (max-width: 576px) {

    .navigation {
        max-width: 100%;
    }

    nav,
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-details ul {
        flex-direction: column;
    }

    .banner-img {
        margin: 0 8em;
    }
}